.about {
    padding: 20px;
    text-align: center;
    background-image: url(/images/about.jpg);
    background-size: cover;
    background-position: center;
}

.about h1 {
    color:  #fff;
    text-align: center;
    padding: 120px;
    margin: 0;
    font-size: 60px;

}

.content .value h3::before,
.content h3::before {
    content: ' ';
    display: block;
    width: 60px;
    height: 1px;
    background-color: #db0546;
    border: none;
}

.content h3::before { margin-bottom: 15px; }

.content {
    padding:40px 10px;
}

.content .value h3:before {
    margin: 15px auto ;
}

.content .value span {
    color: #db0546;
    font-weight: bold;
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@media all and (max-width: 980px) {
    .about h1 {
        font-size: 40px;
        padding: 60px;
    }
}