input[type="password"], input[type="text"], select, textarea {
    font-family: sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 4px 8px;
    line-height: 24px;
    height: 32px;
    border: 1px solid #999;
    border-radius: 0;
    background-color:#FFF;
    color:    #000;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

form.contacts {
    max-width: 640px;
    margin: 0 auto;
}
form legend {
    padding: 22px 0 5px 0;
    color: #555;
}

form legend.required::after {
    content: ' *';
    color: 
    red;
}
form fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

.w100, 
.w100 button, 
.w100 input[type="password"], 
.w100 input[type="text"], 
.w100 select, 
.w100 textarea {
    width: 100%;
    box-sizing: border-box;
}

textarea {
    min-height: 100px;
    resize: vertical;
}
label.checkbox input {
    display: none;
}

label.checkbox span {
    display: inline-block;
    border: 1px solid #db0546;
    border-radius: 3px;
    vertical-align: bottom;
    margin-right: 6px;
}

label.checkbox input:checked + span {
    background-image: url(/svg/check.svg);
    background-color: 
    #db0546;
    background-position: center;
}
label.checkbox span, label.radiocheck span {
    width: 16px;
    height: 16px;
    content: ' ';
    margin-left: -30px;
}

label.checkbox {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: bottom;
    display: inline-block;
}
label.checkbox, label.radiocheck {
    line-height: 16px;
    padding: 5px 20px 5px 30px;
}

button[type="submit"],
a.submit {
    color: #fff !important;
    background-color: #db0546;
    border: 1px solid   transparent;
}

button[type="submit"]:hover,
a.submit:hover {background-color: #a90436;}

a.submit-border {
    border: 2px solid #fff;
    color: #fff;
}

a.submit-border:hover {
    background-color: #fff;
    color: #212529;
}

@media all and (max-width: 447px) {
    a.submit-border { margin-top: 15px;}
}

button[type="submit"],
a.submit,
a.submit-border {
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 5px 20px;
    /* margin-top: 10px; */
    font-size: 15px;
    line-height: 1.5;
    border-radius: .3rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
