.split, .flex {
    display: flex;
}

.align {
    align-items: center;
}

.middle {
    justify-content: center;
}

.right {
    display: flex;
    justify-content: flex-end;
}

.c1 {
    flex: 1;
}

.c2 {
    flex: 2;
}

.c3 {
    flex: 3;
}