h1 { font-size:  var(--h1-font-size); }

h1.services-title::after,
h1.suggestions-title::after,
.us h1::after,
.partners h1::after {
    content: ' ';
    display: block;
    width: 100px;
    height: 1px;
    background-color: #db0546;
    border: none;
    margin:15px auto 25px auto;
}


// main-title //

.slider {
	background-image: url(/images/home.jpg),linear-gradient(180deg,rgba(0,0,0,.5) 0,rgba(0,0,0,.3) 40%,
    rgba(0,0,0,.75));
	background-blend-mode: overlay;
	background-size: cover;
	min-height: 550px;
	padding: 10px 0;
	color: #fff;
	display: flex;
	align-items: center;
}

@media all and ( max-width: 980px) {
    .slider {
        padding: 0 ;
    }
}

.width-center {
	margin: 0 auto;
	max-width: 1280px;
}

.width-center p { font-size: 1.125rem;}

.line {
    display: inline-block;
    border-bottom: 2px solid#fff;
    margin: 14px 0;
    width: 40px;
}

.width-center .cert {text-align: center;}


.text h1 {
    font-size:  var(--h1-font-size);
    margin: 16px 0;
}

@media all and (min-width:981px) {
    .text {margin-top: 100px;}
    

}

@media all and (max-width:1300px) {
    .text,.cert { padding: 20px; }
}

@media all and (max-width:980px) {
    .text {
        margin-top: 0;
        padding: 40px;
    }

    .text h1 {
        margin: 0;
    }

    .width-center .cert {padding: 20px 20px 40px 20px;}
}

@media all and (max-width:940px) {
    .text {text-align: center;}
}

@media all and (max-width:480px) {
    .width-center .cert,
    .text {padding:20px 10px;}
}

// main-title-end //


// services //
.services-title { text-align: center;}

.services { 
    background-color: #EEE;
    padding:80px 0 40px 0;
}

.services .flex .part {
    display: flex;
    flex-direction: column;
}

.services .flex .part {
    border-bottom: 2px solid #FFF;
    background-color: #FFF;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.32);
    text-align: center;
    position: relative;
    margin: 20px 0;
}

.services .part .icon {
    border-radius: 50px;
    border: 1px solid #EEE;
    padding: 15px;
    margin:-50px 20px 20px;
    background-color: #FFF;
    width: 70px;
    height: 70px;
}

.info {
    padding: 0 15px;
    margin-bottom: auto;
}

.services .button {
    margin-top: auto;
    padding-bottom: 20px;
}
@media all and (min-width: 320px) and (max-width: 700px) {
    .services .flex .part { width: 100%; margin: 10px; }
    .services .part.mrg { margin-top: 75px;}
}

@media all and (min-width: 701px) and (max-width: 766px) {
    .services .flex .part {
        width: calc(50% - 20px);
        margin: 10px;
    }
}

@media all and (min-width:767px) {
    .services .flex .part {
        width: calc(50% - 20px);
        margin: 10px;
    }
}
// services-end // 



// suggestion //

.suggestions-title { 
    text-align: center;
    margin-top: 40px ;
    padding: 0 20px;
}


.fixed {
    background-image: url("/images/suggestion.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    position: relative;
}

.fixed::before {
    background: rgba(0,0,0,0.2);
    position: absolute;
    content: "";
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}



.fixed div.bg-gray,
.fixed div.bg-lightorange {
    padding: 20px;
    text-align: center;
    // margin: 30px;
    opacity: 0.8;
    color: #fff;
}
.fixed div.bg-gray h2,
.fixed div.bg-lightorange h2 { font-size: var(--h2-font-size);}

.fixed div.bg-gray p,
.fixed div.bg-lightorange p { 
    font-size: 18px;
    line-height: 28px;
}

.fixed div.bg-gray { border: 3px solid #e7ebec;}
.fixed div.bg-lightorange { border: 3px solid #faebd7;}


@media all and ( max-width:480px) {
    .fixed div.bg-gray,
    .fixed div.bg-lightorange { margin: 20px;}
}

// suggestion-end //


// QAC-CE-MARK //
    
.qas-gradient {
    background: linear-gradient(90deg,#294e95,#517dbc);
    padding:50px;
    color: #FFF;
}

.qas-gradient h1 {
    font-size:  var(--h1-font-size);
    text-transform:  var(--h1-text-transform);
    margin-top: 0;
}

.qas-gradient .row {
    display: flex;
    flex-wrap: wrap;
}

.qas-gradient .row h4 {
    font-size: var(--h4-font-size);
}

.qac-gradient h1 {
    font-size:  var(--h1-font-size);
    text-transform:  var(--h1-text-transform);
}



@media all and (max-width: 1080px){
    .qas-gradient { padding: 50px 20px;}
}

@media all and (min-width:981px) {
    .qas-gradient .row .CE-content {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .qas-gradient .row .stars{
        flex: 0 0 25%;
        max-width: 25%;
    }
}

@media all and (max-width:980px) {
    .qas-gradient .row .stars { display: none;}
}

.message {
    display: none;
    padding: 20px;
    color: white;
    &.success {
        background-color: #35bd35;
    }
    &.danger {
        background-color: #db0646;
    }
    border-radius: 5px;
}

// QAC-CE-MARK //


// partners //

.partners { 
    text-align: center;
    padding: 40px;
}

@media all and ( max-width: 980px) {
    .partners { padding: 40px 20px;}
}

// partners //
