.slider {
	background-image: url(/images/meeting.jpg),linear-gradient(180deg,rgba(0,0,0,.5) 0,rgba(0,0,0,.6) 60%,rgba(0,0,0,.75));
	background-blend-mode: overlay;
	background-size: cover;
	min-height: 550px;
	padding: 10px 0;
	color: #fff;
	display: flex;
	align-items: center;
}


.width-center {
	margin: 0 auto;
	max-width: 1280px;
}

.width-center p { font-size: 1.125rem;}

.width-center a {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 25px;
    text-decoration: none;
    padding: 5px 20px;
    display: inline-block;
    color: #fff;
    background-color: #db0546;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    -webkit-transition: background-color 0.5s ease, border 0.5s ease;
    -moz-transition: background-color 0.5s ease, border 0.5s ease;
    -ms-transition: background-color 0.5s ease, border 0.5s ease;
    -o-transition: background-color 0.5s ease, border 0.5s ease;
    transition: background-color 0.5s ease, border 0.5s ease;
    -webkit-appearance: none;
}

.line {
    display: inline-block;
    border-bottom: 2px solid#fff;
    margin: 14px 0;
    width: 40px;
}

.width-center .cert {text-align: center;}


@media all and (min-width:981px) {
    .text {margin-top: 100px;}
}

@media all and (max-width:980px) {
    .text {margin-top: 0;}
    
    .slider { text-align: center;}

    .width-center .cert {padding: 20px;}
}



.text h1 {
    font-size:  var(--h1-font-size);
    margin: 16px 0;
}

.hr-line {
    width: 100px;
    height: 3px;
    background-color:   #db0546;
    border: none;
    margin-bottom: 27px;
}