@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@import "_grid";
@import "_blog";

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}



nav {
    ul {
        li {
            display: inline-block;
            padding-right: 1.5rem;
            padding-left: 1.5rem;
        }
    }

    .logo {
        width: 100px;
    }

    .slogan {
        padding-left: 1.5rem;
    }
}

.nav-link {
    display: inline-block;
    color: darkslategray;
    &:hover {
        color: #7c69ef;
        text-decoration: none;
    }
}

// Clients
.clients {
    border: 1px solid #f1f4f8;
    background-color: #f9fbfd;
    padding-right: 0 1.5rem;
}
