@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@import "_grid";
@import "_blog";
@import "_fluid";
@import "_header";
@import "_hb";
@import "_index";
@import "_form";
@import "_footer";
@import "contacts";
@import "about";

html {
    height: 100%; 
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.375rem;
}

main { 
    display: block; 
    overflow: hidden; 
}
img {
    border: none;
    outline: none;
    line-height: 0;
    vertical-align: middle; 
    max-width: 100%;
}

a {
    color: #000;
    outline: 0; 
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    text-decoration: none;
} 

*:focus { outline: 0; }

.cf:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.c {
    text-align: center;
}

.r {
    text-align: right;
}

h1,h2,h3,h4 {
    font-weight: 600;
}

ul li { list-style: none;}

h1 { line-height: 45px;}

h2 { line-height: 35px;}

:root {
    --h4-font-size:25px;
    --h3-font-size: 30px;
    --h2-font-size: 35px;
    --h1-font-size: 40px;
    --h1-text-transform: uppercase;
    --h3-text-transform: uppercase;
}

// nav {
//     ul {
//         li {
//             display: inline-block;
//             padding-right: 1.5rem;
//             padding-left: 1.5rem;
//         }
//     }
// }

section a.logo img {
    width: 100px;
    margin: 10px 0;
}

@media all and (min-width: 961px) {
    section a.logo {
        display: flex;
        align-items: center;
    } 

    section a.logo img { padding: 0 20px 0 0 ;}
}

@media all and (max-width:1300px) {
    section a.logo img {padding: 0 15px 0 20px;}
}




// Clients
.clients {
    border: 1px solid #f1f4f8;
    background-color: #f9fbfd;
    padding-right: 0 1.5rem;
}

.expanded {
    display: block;
}