@import url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap);body {
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.split {
  display: flex;
}

.split.align {
  align-items: center;
}

.right {
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  display: inline-block;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

nav .logo {
  width: 100px;
}

nav .slogan {
  padding-left: 1.5rem;
}

.nav-link {
  display: inline-block;
  color: darkslategray;
}

.nav-link:hover {
  color: #7c69ef;
  text-decoration: none;
}

.c1 {
  flex: 1;
}

.c2 {
  flex: 2;
}

.c3 {
  flex: 3;
}

.clients {
  border: 1px solid #f1f4f8;
  background-color: #f9fbfd;
  padding-right: 0 1.5rem;
}

.blog {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
}

.blog .post-item {
  display: block;
}

